body {
    font-family: $font-base;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
button {
    border: none;
    background: none;
    &:hover {
        cursor: pointer;
    }
}
input, textarea {
    background-color: transparent;
    resize: none;
    outline: none;
}

.decoration {
    font-size: clamp(1.5rem, 3vw, 2.375rem);
    font-weight: 400;
}