body {
    font-family: $font-base;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
button {
    border: none;
    background: none;
    &:hover {
        cursor: pointer;
    }
}
input, textarea {
    background-color: transparent;
    resize: none;
}