#register-section {
    height: 100vh;
    @include form-flex;
    color: $color5;
    .register-data {
        @include form-flex;
        width: 30vw;
        .inputs {
            width: 80%;
            margin: 50px auto 40px;
            padding: 20px 10% 40px;
            background-color: $color1;
            @include form-flex;
            label {
                margin: 20px 0;
                align-self: flex-start;
            }
            input {
                width: 100%;
                outline: none;
                border: none;
                border-bottom: 1px solid $color4;
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1.125rem;
            a, #register-submit {
                color: $color5;
                font-weight: 300;
                padding: 12px;
                &:hover {
                    cursor: pointer;
                }
            }
            #register-submit {
                border: 1px solid $color5;
            }
        }
    }
}