#home-cooperation {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 50px auto 40px;
        font-size: 2.375rem;
        font-weight: 400;
        &:nth-child(2) {
            display: none;
        }
    }
    .buttons {
        margin: 60px auto;
        width: 60%;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        button {
            font-size: 1.5rem;
            width: 200px;
            &.active {
                border: 1px solid $color5;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        > p {
            width: 50%;
            text-align: center;
            align-self: center;
            font-size: 1.375rem;
        }
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            border-bottom: 1px solid $color5;
            font-family: $font-alt;
            &:nth-child(3) {
                border: none;
            }
            h3 {
                margin: 0;
                font-size: 1.625rem;
                font-weight: 300;
            }
            p {
                margin: 0;
                font-weight: 300;
            }
        }
        .paginationBttns {
            width: 80%;
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 50px auto;
        }
        .paginationBttns a {
            padding: 10px 12px;
            margin: 10px;
        }
        .previousBttn {
            display: none;
        }
        .nextBttn {
            display: none;
        }
        a.paginationActiveLink{
            font-weight: 700;
            border: 1px solid $color5;
        }
    }
}