#nav {
    position: absolute;
    z-index: 9999;
    top: 40px;
    right: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .nav-log {
        margin-bottom: 40px;
        span {
            margin-right: 20px;
        }
        a {
            padding: 10px;
            font-size: 0.8125rem;
            color: $color4;
            &.active {
                border: 1px solid $color3;
            }
            &:hover {
                color: $color3;
            }
        }
    }
    .nav-home {
        a {
            padding: 10px 20px;
            font-size: 1.125rem;
            color: $color5;
            font-weight: 400;
        }
        .active {
            border: 1px solid $color3;
        }
    }
}